body, html {
    height: 100%;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.6;
    color: #1b1111;
}

.parallax {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}

.parallax1 {
    background-image: url('img/New day.png');
}

.parallax2 {
    background-image: url('img/New sun.jpg');
}

.parallax3 {
    background-image: url('img/Power.png');
}

.parallax4 {
    background-image: url('img/Birdy.jpg');
}

.head {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
    animation: fade-in 2s ease;
}

section {
    padding: 50px 20px;
}

h1 {
    text-align: center;
}

p {
    text-align: justify;
    margin-bottom: 30px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.button {
    display: inline-block;
    background-color: #1ea9db;
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-top: 20px; /* Adjust as needed */
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

.button:hover {
    background-color: #45a049;
    transform: translateY(-3px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
}

.button:active {
    transform: translateY(1px);
    box-shadow: none;
}
